<div class="ui secondary menu">
   <a class="item">
      <img src="./assets/images/myntra.png">
    </a>
    <a routerLink="Men" class=" item">
        Men
    </a>
    <a routerLink="Women" class="item">
        Women
    </a>
    <a routerLink="Kids" class="item">
        Kids
    </a>
    <a routerLink="Home_and_Living" class="item">
        Home and Living
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item">
        Account Login / Logout
      </a>
    </div>
  </div>
<router-outlet></router-outlet>